@font-face{
    font-family: SELHAM;
    src: url(SELHAM.TTF);
}
#main{
    background-color:#353e48;
}
body{
    background: url(in_ic_Home.png) ;
    height: auto;
    width: auto;
}
header{
    background-color: none;
    height: auto;
    width: auto;
}





.logo{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 270px;
    height: 86px;
}





.serch{
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    padding: 0;
    height: 50px;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}
.gostogo{
    text-align: right;
    border: none;
    background-color: #404040;
    -webkit-text-fill-color: white;
    height: 50px;
    width: 250px;
    font-size: 19pt;
    font-family: SELHAM;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.bro{
    height: 50px;
    width: 50px;
    background-color: #1a1a1a;
    text-align: center;
    font-family: SELHAM;
    font-size: 35pt;
    display: block;
    margin-right: auto;
    margin-left: auto;
    color: #ffffff;
    text-decoration: none;
}





.top{
    height: auto;
    width: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    padding: 0;
}
.hesab{
    height: 25px;
    width: 100px;
    background-color: #333333;
    border-radius: 5px;
    font-family: SELHAM;
    text-decoration: none;
    color: #ffffff;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.sabad{
    height: 25px;
    width: 100px;
    background-color: #333333;
    border-radius: 5px;
    font-family: SELHAM;
    text-decoration: none;
    color: #ffffff;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.home{
    height: 25px;
    width: 100px;
    background-color: #333333;
    border-radius: 5px;
    font-family: SELHAM;
    text-decoration: none;
    color: #ffffff;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}





.top-m1{
    width: auto;
    height: 25px;
    background-color: #353e48;
    margin-top: 65px;
    box-decoration-break: none;
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    padding: 0;
    text-align: right;
    text-decoration: none;
}
.top-m1-1{
    background-color: none;
}
.baray{
    font-family: SELHAM;
    color: #ffffff;
    width: 56.5px;
    height: 24.5px;
    float: inline-end;
    margin-right:0 ;
}
.hame{
    font-family: SELHAM;
    color: #ffffff;
    
    width: 61.93px;
    height: 24.26px;
    float: inline-end;
    text-decoration: none;
}
.body-m1{
    width: auto;
    height: 100px;
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    padding: 0;
}
.m1-m2{
    width: 75px;
    height: 80px;
    border-radius: 10px;
    background-color: #353e48;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.m1-m3{
    width: 75px;
    height: 80px;
    border-radius: 10px;
    background-color: #353e48;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.m1-m4{
    width: 75px;
    height: 80px;
    border-radius: 10px;
    background-color: #353e48;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.m1-m1{
    width: 75px;
    height: 80px;
    border-radius: 10px;
    background-color: #353e48;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.top-m2{
    width: auto;
    height: 25px;
    background-color: #353e48;
    box-decoration-break: none;
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    padding: 0;
    text-align: right;
    margin-top: 0;
}
.top-m2-1{
    background-color: none;
}
.baray{
    font-family: SELHAM;
    color: #ffffff;
    width: 56.5px;
    height: 24.5px;
    float: inline-end;
    margin-right:0 ;
}
.hame{
    font-family: SELHAM;
    color: #ffffff;
    width: 56.5px;
    height: 24.5px;
    float: inline-end;
    text-decoration: none;
}
.body-m2{
    width: auto;
    height: 100px;
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    padding: 0;
}
.m2-m2{
    width: 75px;
    height: 80px;
    border-radius: 10px;
    background-color: #353e48;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.m2-m3{
    width: 75px;
    height: 80px;
    border-radius: 10px;
    background-color: #353e48;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.m2-m4{
    width: 75px;
    height: 80px;
    border-radius: 10px;
    background-color: #353e48;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.m2-m1{
    width: 75px;
    height: 80px;
    border-radius: 10px;
    background-color: #353e48;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.top-m3{
    width: auto;
    height: 25px;
    background-color: #353e48;
    box-decoration-break: none;
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    padding: 0;
    text-align: right;
    margin-top: 0;
}
.top-m3-1{
    background-color: none;
}
.baray{
    font-family: SELHAM;
    color: #ffffff;
    width: 56.5px;
    height: 24.5px;
    float: inline-end;
    margin-right:0 ;
}
.hame{
    font-family: SELHAM;
    color: #ffffff;
    width: 56.5px;
    height: 24.5px;
    float: inline-end;
    text-decoration: none;
}
.body-m3{
    width: auto;
    height: 100px;
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    padding: 0;
}
.m3-m2{
    width: 75px;
    height: 80px;
    border-radius: 10px;
    background-color: #353e48;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.m3-m3{
    width: 75px;
    height: 80px;
    border-radius: 10px;
    background-color: #353e48;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.m3-m4{
    width: 75px;
    height: 80px;
    border-radius: 10px;
    background-color: #353e48;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.m3-m1{
    width: 75px;
    height: 80px;
    border-radius: 10px;
    background-color: #353e48;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.top-m4{
    width: auto;
    height: 25px;
    background-color: #353e48;
    box-decoration-break: none;
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    padding: 0;
    text-align: right;
    margin-top: 0;
}
.top-m4-1{
    background-color: none;
}
.baray{
    font-family: SELHAM;
    color: #ffffff;
    width: 56.5px;
    height: 24.5px;
    float: inline-end;
    margin-right:0 ;
}
.hame{
    font-family: SELHAM;
    color: #ffffff;
    width: 56.5px;
    height: 24.5px;
    float: inline-end;
    text-decoration: none;
}
.body-m4{
    width: auto;
    height: 100px;
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    padding: 0;
}
.m4-m2{
    width: 75px;
    height: 80px;
    border-radius: 10px;
    background-color: #353e48;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.m4-m3{
    width: 75px;
    height: 80px;
    border-radius: 10px;
    background-color: #353e48;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.m4-m4{
    width: 75px;
    height: 80px;
    border-radius: 10px;
    background-color: #353e48;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.m4-m1{
    width: 75px;
    height: 80px;
    border-radius: 10px;
    background-color: #353e48;
    display: block;
    margin-right: auto;
    margin-left: auto;
}





.daste{
    width: auto;
    height: 50px;
    background-color: #353e48;
    margin-top: 25px;
}
.daste a{
    width: 140px;
    height: 35px;
    background-color: #333333;
    border-radius: 10px;
    color: #ffffff;
    font-family: SELHAM;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 20pt;
    text-decoration: none;
}





footer{
    height: auto;
    width: auto;
    background-color: #353e48;
    margin-top: 25px;
}
.foot{
    color: #ffffff;
    font-family: SELHAM;
    font-size: 16pt;
    text-align: center;
    margin-top: 10px;
}
.ma{
    color: #ffffff;
    border-left: 1px solid #ffffff;
    margin-left: 10px;
    padding-left: 10px;
    text-decoration: none;
}
.tamas{
    color: #ffffff;
    border-left: 1px solid #ffffff;
    margin-left: 10px;
    padding-left: 10px;
    text-decoration: none;
}
.khane{
    color: #ffffff;
    border-left: 1px solid #ffffff;
    margin-left: 10px;
    padding-left: 10px;
    text-decoration: none;
}
.kharid{
    color: #ffffff;
    text-decoration: none;
}
.logos{
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.IN-IC img{
    width: 119px;
    height: 38px;
    margin-right: 30px;
    margin-bottom: 40px;
}
.torob img{
    width: 55px;
    height: 56px;
    margin-right: 30px;
    margin-bottom: 28px;

}
.nama img{
    width: 79.5px;
    height: 54px;
    margin-bottom: 21px;
}
.Copyright{
    text-align: center;
}